:root{
	--gray: #DEDDDD;
}
*{
	font-family: Consolas, "courier new";
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	padding: 40px;
}
.button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	font-weight: bold;
	padding: 5px;
}
.function-button{
	transition: 0.3s;
	width: 25px;
	height: 25px;	
}
.remove-button{
	border-radius: 20px;
	background-color: pink;
	transform: rotate(0.13turn);
}