:root{
	--gray: #DEDDDD;
	--darker-gray: #CAC7C7;
	--yellow: #FFF6A7;
	--green: #C6F5BA;
}
*{
	font-family: Consolas, "courier new";
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	padding: 40px;
}