:root{
	--gray: #DEDDDD;
	--darker-gray: #CAC7C7;
	--yellow: #FFF6A7;
	--green: #87C987;
}
*{
	font-family: Consolas, "courier new";
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}